/********** Template CSS **********/

:root {
  /* --primary: #00B98E; */
  --primary: #9e9e9e;
  --secondary: #ff6922;
  --light: #effdf5;
  /* --dark: #0E2E50; */
  --dark: #000000;
  --custom-light: #d20f2d;
  --custom-dark: #ab182b;
  --white-color: #ffffff;
  --primary-color: #13547a;
  --secondary-color: #80d0c7;
  --section-bg-color: #f0f8ff;
  --custom-btn-bg-color: #80d0c7;
  --custom-btn-bg-hover-color: #13547a;
  --dark-color: #000000;
  --p-color: #717275;
  --border-color: #7fffd4;
  --link-hover-color: #13547a;
}

body {
  cursor: none;
  font-family: "Poppins", sans-serif !important;
  /* overflow: hidden; */
}

* {
  padding: 0;
  margin: 0;
}

.back-to-top {
  position: fixed;
  display: none;
  right: 45px;
  bottom: 45px;
  z-index: 99;
}

/*** Spinner ***/
#spinner {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-out, visibility 0s linear 0.5s;
  z-index: 99999;
}

#spinner.show {
  transition: opacity 0.5s ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1;
}

/*** Button ***/
.btn {
  transition: 0.5s;
}

.btn.btn-primary,
.btn.btn-secondary {
  color: #ffffff;
}

.btn-square {
  width: 38px;
  height: 38px;
}

.btn-sm-square {
  width: 32px;
  height: 32px;
}

.btn-lg-square {
  width: 48px;
  height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
  border-radius: 50px;
}

/*** Navbar ***/
.nav-bar {
  position: relative;
  margin-top: 45px;
  padding: 0 3rem;
  transition: 0.5s;
  z-index: 9999;
}

.nav-bar.sticky-top {
  position: sticky;
  padding: 0;
  z-index: 9999;
}

.navbar {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.08);
}

.navbar .dropdown-toggle::after {
  border: none;
  content: "\f107";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  vertical-align: middle;
  margin-left: 5px;
  transition: 0.5s;
}

.navbar .dropdown-toggle[aria-expanded="true"]::after {
  transform: rotate(-180deg);
}

.navbar-light .navbar-nav .nav-link {
  margin-right: 30px;
  padding: 25px 0;
  color: #ffffff;
  font-size: 15px;
  text-transform: uppercase;
  outline: none;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
  color: var(--custom-dark);
}

@media (max-width: 991.98px) {
  .nav-bar {
    margin: 0;
    padding: 0;
  }

  .navbar-light .navbar-nav .nav-link {
    margin-right: 0;
    padding: 10px 0;
  }

  .navbar-light .navbar-nav {
    border-top: 1px solid #eeeeee;
  }
}

.navbar-light .navbar-brand {
  height: 75px;
}

.navbar-light .navbar-nav .nav-link {
  color: var(--dark);
  font-weight: 500;
}

@media (min-width: 992px) {
  .navbar .nav-item .dropdown-menu {
    display: block;
    top: 100%;
    margin-top: 0;
    transform: rotateX(-75deg);
    transform-origin: 0% 0%;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
  }

  .navbar .nav-item:hover .dropdown-menu {
    transform: rotateX(0deg);
    visibility: visible;
    transition: 0.5s;
    opacity: 1;
  }
}

/*** Header ***/
@media (min-width: 992px) {
  .header {
    margin-top: -120px;
  }
}

.header-carousel .owl-nav {
  position: absolute;
  top: 50%;
  left: -25px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
}

.header-carousel .owl-nav .owl-prev,
.header-carousel .owl-nav .owl-next {
  margin: 7px 0;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  background: var(--primary);
  border-radius: 40px;
  font-size: 20px;
  transition: 0.5s;
}

.header-carousel .owl-nav .owl-prev:hover,
.header-carousel .owl-nav .owl-next:hover {
  background: var(--dark);
}

@media (max-width: 768px) {
  .header-carousel .owl-nav {
    left: 25px;
  }
}

.breadcrumb-item+.breadcrumb-item::before {
  color: #dddddd;
}

/*** Icon ***/
.icon {
  padding: 15px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: #ffffff !important;
  border-radius: 50px;
  border: 1px dashed var(--custom-dark) !important;
}

/*** About ***/
.about-img img {
  position: relative;
  z-index: 2;
}

.about-img::before {
  position: absolute;
  content: "";
  top: 0;
  left: -50%;
  width: 100%;
  height: 100%;
  /* background: var(--primary); */
  background: var(--custom-light);
  transform: skew(20deg);
  z-index: 1;
  /* background-image: repeating-linear-gradient(
    to right,
    transparent 0 150px,
    #ab182b 150px 151px
  ),
  repeating-linear-gradient(to bottom, transparent 0 150px, #ab182b 150px 151px),
  linear-gradient(to right, #cdcdcdcc, #cdcdcdcc), url('img/images/bgmock_.jpg'); */
}

/*** Category ***/
.customcat {
  background-image: repeating-linear-gradient(to right,
      transparent 0 150px,
      #000000 150px 151px),
    repeating-linear-gradient(to bottom, transparent 0 150px, #000000 150px 151px),
    linear-gradient(to right, #cdcdcdcc, #cdcdcdcc), url('img/images/bgmock_.jpg');
}


.cat-item div {
  background: #ffffff;
  border: 1px dashed rgba(0, 0, 0, 1);
  transition: 0.5s;
}

.cat-item:hover div {
  background: var(--custom-light);
  border-color: transparent;
}

.cat-item div * {
  transition: 0.5s;
}

.cat-item:hover div * {
  color: #ffffff !important;
}

/*** Property List ***/
.nav-pills .nav-item .btn {
  color: var(--dark);
}

.nav-pills .nav-item .btn:hover,
.nav-pills .nav-item .btn.active {
  color: #ffffff;
}

.property-item {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.08);
}

.property-item img {
  transition: 0.5s;
}

.property-item:hover img {
  transform: scale(1.1);
}

.property-item .border-top {
  border-top: 1px dashed rgba(0, 0, 0, 1) !important;
}

.property-item .border-end {
  border-right: 1px dashed rgba(0, 0, 0, 1) !important;
}

/*** Team ***/
.team-item {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.08);
  transition: 0.5s;
}

.team-item .btn {
  color: var(--primary);
  background: #ffffff;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
}

.team-item .btn:hover {
  color: #ffffff;
  background: var(--primary);
}

.team-item:hover {
  border-color: var(--secondary) !important;
}

.team-item:hover .bg-primary {
  background: var(--secondary) !important;
}

.team-item:hover .bg-primary i {
  color: var(--secondary) !important;
}

/*** Testimonial ***/
.testimonial-carousel {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

@media (min-width: 576px) {
  .testimonial-carousel {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

.testimonial-carousel .testimonial-item .border {
  border: 1px dashed rgba(0, 0, 0, 1) !important;
}

.testimonial-carousel .owl-nav {
  position: absolute;
  width: 100%;
  height: 40px;
  top: calc(50% - 20px);
  left: 0;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}

.testimonial-carousel .owl-nav .owl-prev,
.testimonial-carousel .owl-nav .owl-next {
  position: relative;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  background: var(--primary);
  border-radius: 40px;
  font-size: 20px;
  transition: 0.5s;
}

.testimonial-carousel .owl-nav .owl-prev:hover,
.testimonial-carousel .owl-nav .owl-next:hover {
  background: var(--dark);
}

/*** Footer ***/
.footer .btn.btn-social {
  margin-right: 5px;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--light);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 35px;
  transition: 0.3s;
}

.footer .btn.btn-social:hover {
  color: var(--custom-dark);
  border-color: var(--light);
}

.footer .btn.btn-link {
  display: block;
  margin-bottom: 5px;
  padding: 0;
  text-align: left;
  font-size: 15px;
  font-weight: normal;
  text-transform: capitalize;
  transition: 0.3s;
}

.footer .btn .btn-link:hover {
  color: var(--light) !important;
}

.footer .btn.btn-link::before {
  position: relative;
  content: "\f105";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 10px;
  color: var(--light);
}

.footer .btn.btn-link:hover {
  letter-spacing: 1px;
  box-shadow: none;
}

.footer .form-control {
  border-color: rgba(255, 255, 255, 0.5);
}

.footer .copyright {
  padding: 25px 0;
  font-size: 15px;
  border-top: 1px solid rgba(256, 256, 256, 0.1);
}

.footer .copyright a {
  color: var(--light);
}

.footer .footer-menu a {
  margin-right: 15px;
  padding-right: 15px;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.footer .footer-menu a:last-child {
  margin-right: 0;
  padding-right: 0;
  border-right: none;
}


.customlight {
  color: var(--custom-light);
}

.customlightbg {
  background: var(--custom-light);
}

.customdark {
  color: var(--custom-dark);
}

.customdarkbg {
  background: var(--custom-dark);
}

.footerbg {
  background: linear-gradient(to top right, #d20f2d 50%, #ab182b 50%) !important;
}

.buttonanimation {
  background: linear-gradient(to top right, #d20f2d 50%, #ab182b 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all ease 0.3s;
}

.buttonanimation:hover {
  background-position: left bottom !important;
  color: #000000 !important;
  border: 1px solid black !important;
}

.custombtn:hover {
  background: #000000 !important;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #d20f2d;
  /* background: red; */
  border-radius: 5px;
}

::selection {
  background: #d20f2d;
  color: #fff;
}

.cursor-dot,
.cursor-outline {
  position: fixed;
  border-radius: 50%;
  pointer-events: none;
  z-index: 99999;
  transform: translate(-50%, -50%);
}

.cursor-dot {
  width: 10px;
  height: 10px;
  background-color: #ab182b;
}

.cursor-outline {
  width: 40px;
  height: 40px;
  border: 2px solid rgba(122, 119, 119, 0.5);
}

.typing-demo {
  width: 0;
  /* Start with zero width for typing effect */
  animation: typing 5s steps(40) infinite, blink 0.5s step-end infinite;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
}

@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif !important;
}

/* Add this to your CSS file */
#navbar {
  transition: background-color 0.3s, backdrop-filter 0.3s !important;
}

.navbar-blur,
.bg-blur {
  background-color: rgba(192,
      192,
      192,
      0.2) !important;
  /* Slightly transparent white background */

  backdrop-filter: blur(10px) !important;
  /* Adjust the blur effect */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1) !important;
  /* Optional shadow */

}

#navbar a {
  font-weight: bold;
}

/* canvas{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -9999;
} */
/* #particles-js{
  width: 100%;
  height: 100vh;
  position: absolute;
 } */

.parallax {
  /* The image used */
  background-image: url('../img/paralax.jpeg');

  /* Set a specific height */
  height: 40vh;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.parallax::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  /* Add a grey or black shade */
  background: rgba(0, 0, 0, 0.5);
  /* Adjust the opacity as needed */
}

.star-rating {
  display: flex;
  margin-top: -10px;
}

.star {
  font-size: 1.5rem;
  color: #ccc;
  /* Default star color */
}

.star.filled {
  color: var(--custom-light);
  /* Filled star color */
}



.banner {
  width: 100%;
  height: 100vh;
  text-align: center;
  overflow: hidden;
  position: relative;

}

.banner .slider {
  position: absolute;
  width: 200px;
  height: 250px;
  top: 10%;
  left: calc(50% - 100px);
  transform-style: preserve-3d;
  transform: perspective(1000px);
  animation: autoRun 20s linear infinite;
  z-index: 2;
  /* box-shadow: 5px 5px 10px; */
}

@keyframes autoRun {
  from {
    transform: perspective(1000px) rotateX(-16deg) rotateY(0deg);
  }

  to {
    transform: perspective(1000px) rotateX(-16deg) rotateY(360deg);
  }
}

.banner .slider .item {
  position: absolute;
  inset: 0 0 0 0;
  transform:
    rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)) translateZ(450px);
}

.banner .slider .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;

}

.banner .content {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: min(1400px, 100vw);
  height: max-content;
  padding-bottom: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.banner .content .model {
  /* background-image: url(images/app-patch.jpg); */
  width: 100%;
  height: 75vh;
  position: absolute;
  bottom: 0;
  left: 0;
  background-size: auto 130%;
  background-repeat: no-repeat;
  background-position: top center;
  z-index: 1;
}

@media screen and (max-width: 1023px) {
  .banner .slider {
    width: 160px;
    height: 200px;
    left: calc(50% - 80px);
  }

  .banner .slider .item {
    transform:
      rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)) translateZ(300px);
  }

  .banner .content .author {
    color: #fff;
    padding: 20px;
    text-shadow: 0 10px 20px #000;
    z-index: 2;
    max-width: unset;
    width: 100%;
    text-align: center;
    padding: 0 30px;
  }
}

@media screen and (max-width: 767px) {
  .banner .slider {
    width: 100px;
    height: 150px;
    left: calc(50% - 50px);
  }

  .banner .slider .item {
    transform:
      rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)) translateZ(180px);
  }

}

#mockup_body {
  min-height: 100vh;
  margin: 0;
  font-family: Poppins;
  color: #1e1e1e;

  /* background-color: #cdcdcd; */
  background-image: repeating-linear-gradient(to right,
      transparent 0 150px,
      #ab182b 150px 151px),
    repeating-linear-gradient(to bottom, transparent 0 150px, #ab182b 150px 151px),
    linear-gradient(to right, #cdcdcdcc, #cdcdcdcc), url('img/images/bgmock_.jpg');
}

/* .cutomdiv{
  background-color: #cdcdcd;
   background-image: repeating-linear-gradient(
      to right,
      transparent 0 150px,
      #0001 150px 151px
    ),
    repeating-linear-gradient(to bottom, transparent 0 150px, #0001 150px 151px),
    linear-gradient(to right, #cdcdcdcc, #cdcdcdcc), url('img/images/bgmock_.jpg');
} */

#main_01 {
  width: min(1200px, 90vw);
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  height: 0px;
  flex-wrap: wrap;
}

#main_01 h1 {
  font-family: "Karantina", system-ui;
  font-size: 10vw;
  line-height: 0.8em;
}

#main_01 .author {
  text-align: right;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#main_01 h3 {
  font-family: "Karantina", system-ui;
  font-size: 5vw;
}

#main_01 .author div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#main_01 .author div p:nth-child(2) {
  font-weight: 500;
}

#main_01 .author img {
  width: 250px;
}

.mock_banner {
  margin-top: -50px;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.product {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 170px;
  z-index: 2;
  width: 500px;
  transition: 0.7s;
  /* position: absolute */
}

.product .soda {
  position: absolute;
  bottom: 0;
  left: calc(50%);
  transform: translateX(-50%);
  /* position: absolute */
}

.mock_banner .product .soda {

  --left: 0px;
  background: var(--url) var(--left), url('../img/images/mockup.png') 0 0;
  background-size: auto 100%;
  width: 280px;
  aspect-ratio: 2 / 4;
  background-blend-mode: multiply;
  transition: 0.8s;
  mask-image: url('../img/images/mockup.png');
  mask-size: auto 100%;
  /* position: absolute; */
}

.soda:nth-child(2) {
  opacity: 0;
}

.product:hover {
  bottom: 300px;
}

.product:hover .soda:nth-child(2) {
  opacity: 1;
  --left: 500px;
}

.product:hover .soda:nth-child(1) {
  opacity: 0;
  --left: 500px;
}

.rock {
  position: absolute;
  inset: 0 0 0 0;
  width: 100%;
  pointer-events: none;
}

.rock img:nth-child(1) {
  position: absolute;
  height: 170px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
  transition: 0.7s;
  z-index: 1;
}

.rock img:nth-child(2) {
  position: absolute;
  height: 50%;
  left: 0;
  bottom: 0;
  transition: 0.7s;
}

.rock img:nth-child(3) {
  position: absolute;
  height: 100%;
  right: 0;
  bottom: -100px;
  rotate: -25deg;
  transition: 0.7s;
}

.mock_banner:has(.product:hover) .rock img:nth-child(1) {
  transform: translateX(-50%) translateY(50px);
}

.mock_banner:has(.product:hover) .rock img:nth-child(2) {
  transform: translateX(-100px) translateY(100px);
}

.mock_banner:has(.product:hover) .rock img:nth-child(3) {
  transform: translateX(100px) translateY(100px);
}

@media screen and (max-width: 1023px) {
  .soda {
    width: 400px;
  }
}

@media screen and (max-width: 767px) {
  .soda {
    width: 250px;
  }

  #mock_banner img {
    display: none;
  }

  #mock_banner .author {
    width: 100%;
  }
}

/*---------------------------------------
  SECTION               
-----------------------------------------*/
.section-padding {
  padding-top: 100px;
  padding-bottom: 100px;
}

.section-bg {
  background-color: var(--section-bg-color);
}

.section-overlay {
  background-image: linear-gradient(15deg, #000 0%, #d20f2d 100%);
  position: absolute;
  top: 0;
  /* left: 0; */

  pointer-events: none;
  width: 100%;
  height: 100%;
  opacity: 0.85;
}

.section-overlay+.container {
  position: relative;
}

.tab-content {
  background-color: var(--white-color);
  border-radius: var(--border-radius-medium);
}

.nav-tabs {
  border-bottom: 1px solid #ecf3f2;
  margin-bottom: 40px;
  justify-content: center;
}

.nav-tabs .nav-link {
  border-radius: 0;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  color: var(--p-color);
  font-family: var(--title-font-family);
  font-size: var(--btn-font-size);
  font-weight: var(--font-weight-medium);
  padding: 15px 25px;
  transition: all 0.3s;
}

.nav-tabs .nav-link:first-child {
  margin-right: 20px;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active,
.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
  border-bottom-color: var(--primary-color);
  color: var(--primary-color);
}

.timeline-section {
  background-image: url('../img/paralax.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.timeline-container .vertical-scrollable-timeline {
  list-style-type: none;
  position: relative;
  padding-left: 0;
}

.timeline-container .vertical-scrollable-timeline .list-progress {
  width: 8px;
  height: 87%;
  background-color: var(--dark);
  position: absolute;
  left: 52px;
  top: 0;
  overflow: hidden;
}

.timeline-container .vertical-scrollable-timeline .list-progress .inner {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 100%;
  background-color: var(--secondary-color);
  width: 100%;
}

.timeline-container .vertical-scrollable-timeline li {
  position: relative;
  padding: 20px 0px 65px 145px;
}

.timeline-container .vertical-scrollable-timeline li:last-child {
  padding-bottom: 0;
}

.timeline-container .vertical-scrollable-timeline li p {
  line-height: 40px;
}

.timeline-container .vertical-scrollable-timeline li p:last-child {
  margin-bottom: 0;
}

.timeline-container .vertical-scrollable-timeline li .icon-holder {
  position: absolute;
  left: 0;
  top: 0;
  width: 104px;
  height: 104px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dark);
  border-radius: 50%;
  z-index: 1;
  transition: 0.4s all;
}

.timeline-container .vertical-scrollable-timeline li .icon-holder::before {
  content: "";
  width: 80px;
  height: 80px;
  border: 4px solid #fff;
  position: absolute;
  background-color: var(--dark);
  border-radius: 50%;
  z-index: -1;
  transition: 0.4s all;
}

.timeline-container .vertical-scrollable-timeline li .icon-holder i {
  font-size: 25px;
  color: var(--white-color);
}

.timeline-container .vertical-scrollable-timeline li::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 8px;
  background-color: transparent;
  left: 52px;
  z-index: 0;
}

.timeline-container .vertical-scrollable-timeline li.active .icon-holder {
  background-color: var(--custom-dark);
}

.timeline-container .vertical-scrollable-timeline li.active .icon-holder::before {
  background-color: var(--custom-dark);
}

.bg-about {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('../img/paralax.jpeg'), no-repeat center center;
  background-size: cover;
  border: 4px solid var(--custom-dark);
  border-radius: 20px;
}


.main-banner {
  border-bottom: 3px dotted #eee;
  padding-top: 160px;
  padding-bottom: 30px;
}

.main-border-button a {
  font-size: 13px;
  color: #fff;
  border: 1px solid #fff;
  padding: 12px 25px;
  display: inline-block;
  font-weight: 500;
  transition: all .3s;
}

.main-border-button a:hover {
  background-color: #fff;
  color: #2a2a2a;
}

.main-banner .left-content .thumb img {
  width: 100%;
  overflow: hidden;
 
}
.thumb{
  position: relative;
}

.main-banner .left-content .inner-content {
  position: absolute ;
  left: 100px;
  top: 50%;
  transform: translateY(-50%);
}

.main-banner .left-content .inner-content h4 {
  color: #fff;
  margin-top: -10px;
  font-size: 52px;
  font-weight: 700;
  margin-bottom: 20px;
}

.main-banner .left-content .inner-content span {
  font-size: 16px;
  color: #fff;
  font-weight: 400;
  font-style: italic;
  display: block;
  margin-bottom: 30px;
}

.main-banner .right-content .right-first-image {
  margin-bottom: 28.5px;
}

.main-banner .right-content .right-first-image .thumb {
  position: relative;
  text-align: center;
}

.main-banner .right-content .right-first-image .thumb img {
  width: 100%;
  overflow: hidden;
}

.main-banner .right-content .right-first-image .thumb .inner-content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
}

.main-banner .right-content .right-first-image .thumb .inner-content h4 {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 15px;
}

.main-banner .right-content .right-first-image .thumb .inner-content span {
  font-size: 16px;
  color: #fff;
  font-style: italic;
}

.main-banner .right-content .right-first-image .thumb .hover-content {
  position: absolute;
  top: 15px;
  right: 15px;
  left: 15px;
  bottom: 15px;
  text-align: center;
  background-color: rgba(42, 42, 42, .97);
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}

.main-banner .right-content .right-first-image .thumb:hover .hover-content {
  opacity: 1;
  visibility: visible;
}

.main-banner .right-content .right-first-image .thumb .hover-content .inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.main-banner .right-content .right-first-image .thumb .hover-content h4 {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 15px;
}

.main-banner .right-content .right-first-image .thumb .hover-content p {
  color: #fff;
  padding: 0px 20px;
  margin-bottom: 20px;
}


/* 
---------------------------------------------
Properties Style
--------------------------------------------- 
*/
.properties .item {
  background-color: #fafafa;
  border-radius: 10px;
  padding: 30px;
  margin-bottom: 30px;
}

.properties .item img {
  border-radius: 10px;
}

.properties .item span.category {
  background-color: #fbd9cf;
  font-weight: 500;
  border-radius: 5px;
  font-size: 14px;
  color: #1e1e1e;
  padding: 5px 12px;
  display: inline-block;
  margin-top: 25px;
}

.properties .item h4 {
  font-size: 19px;
  margin: 25px 0px;
}

.properties .item h4 a {
  color: #1e1e1e;
}

.properties .item ul li {
  display: inline-block;
  font-size: 15px;
  color: #4a4a4a;
  margin-right: 20px;
}

.properties .item ul li span {
  font-weight: 600;
  color: #1e1e1e;
}

.properties .item ul {
  border-bottom: 1px solid #eaeaea;
  margin-bottom: 30px;
  padding-bottom: 30px;
}

.properties .item h6 {
  font-size: 20px;
  color: var(--custom-dark);
  margin-top: 6px;
  display: inline-block;
  float: right;
  margin-top: 30px;
}

.properties .item .main-button {
  text-align: center;
}

.properties ul.properties-filter {
  list-style: none;
  text-align: center;
  margin-bottom: 70px;
}

.properties ul.properties-filter li {
  display: inline-block !important;
  margin: 5px 8px;
}

.properties ul.properties-filter li a {
  display: inline-block;
  text-align: center;
  font-size: 15px;
  text-transform: capitalize;
  font-weight: 500;
  color: #fff;
  background-color: #1e1e1e;
  padding: 12px 25px;
  border-radius: 5px;
  transition: all .3s;
}

.properties ul.properties-filter li a.is_active {
  background-color: var(--custom-dark);
  color: #fff;
}

.properties ul.properties-filter li a.is_active:hover {
  color: #fff;
}

.properties ul.properties-filter li a:hover {
  color: var(--custom-dark);
}

.properties ul.pagination {
  margin-top: 50px;
  text-align: center;
  width: 100%;
  display: inline-block;
}

.properties ul.pagination li {
  display: inline-block;
  margin: 0px 5px;
}

.properties ul.pagination li a {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: #1e1e1e;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  border-radius: 50%;
  transition: all .3s;
}

.properties ul.pagination li a:hover,
.properties ul.pagination li a.is_active {
  background-color: var(--custom-dark);
  color: #fff;
}

.main-button a {
  display: inline-block;
  background-color: #1e1e1e;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 40px;
  padding: 0px 30px;
  border-radius: 25px;
  transition: all .3s;
}

.main-button a:hover {
  background-color: var(--custom-dark);
  color: #fff;
}

@media (max-width:992px) {
  .properties .item h6 {
    text-align: center;
    margin-bottom: 15px;
  }

  .properties .item .main-button {
    text-align: center;
  }

  .properties .item ul li {
    margin-right: 10px;
    font-size: 13px;
  }
}



#men {
  padding-top: 90px;
  padding-bottom: 90px;
  border-bottom: 3px dotted #eee;
}

#men .section-heading {
  margin-bottom: 60px;
}

#men .item .down-content {
  padding-top: 30px;
  position: relative;
  z-index: 3;
  background-color: #fff;
}

#men .item .down-content h4 {
  font-size: 22px;
  color: var(--custom-dark);
  font-weight: 700;
  margin-bottom: 8px;
}

#men .item .down-content span {
  font-size: 18px;
  color: var(--dark);
  font-weight: 500;
  display: block;
}

#men .item .down-content ul.stars {
  position: absolute;
  right: 0;
  top: 30px;
}

#men .item .down-content ul.stars li {
  display: inline;
  font-size: 13px;
}

#men .item .thumb .hover-content {
  position: absolute;
  z-index: 2;
  text-align: center;
  bottom: -60px;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all .5s;
}

#men .item .thumb:hover .hover-content {
  bottom: 30px;
  opacity: 1;
  visibility: visible;
}

#men .item .thumb {
  position: relative;
}

#men .item .thumb .hover-content ul li {
  display: inline;
  margin: 0px 10px;
}

#men .item .thumb .hover-content ul li a {
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  display: inline-block;
  color: #2a2a2a;
  background-color: #fff;
}


#men .owl-nav {
  text-align: center;
  position: absolute;
  width: 100%;
  top: 40%;
  transform: translateY(-25px);
}

#men .owl-dots {
  display: none;
}
    
#men .owl-nav .owl-prev{
  position: absolute;
  left: -80px;
  outline: none;
}

#men .owl-nav .owl-prev span,
#men .owl-nav .owl-next span {
  opacity: 0;
}

#men .owl-nav .owl-prev:before {
  display: inline-block;
  font-family: 'FontAwesome';
  color: #2a2a2a;
  font-size: 25px;
  font-weight: 700;
  content: '\f104';
  width: 50px;
  height: 50px;
  background-color: transparent;
  line-height: 48px;
  border :1px solid #2a2a2a;
}

#men .owl-nav .owl-prev {
  opacity: 0.75;
  transition: all .5s;
}

#men .owl-nav .owl-prev:hover {
  opacity: 1;
}

#men .owl-nav .owl-next {
  opacity: 0.75;
  transition: all .5s;
}

#men .owl-nav .owl-next:hover {
  opacity: 1;
}

#men .owl-nav .owl-next{
  outline: none;
  position: absolute;
  right: -85px;
}

#men .owl-nav .owl-next:before {
  display: inline-block;
  font-family: 'FontAwesome';
  color: #2a2a2a;
  font-size: 25px;
  font-weight: 700;
  content: '\f105';
  width: 50px;
  height: 50px;
  background-color: transparent;
  line-height: 48px;
  border :1px solid #2a2a2a;
}
