/********** Template CSS **********/

:root {
  /* --primary: #00B98E; */
  --primary: #9e9e9e;
  --secondary: #ff6922;
  --light: #effdf5;
  /* --dark: #0E2E50; */
  --dark: #000000;
}

body {
  cursor: none;
  font-family: "Poppins", sans-serif !important;
  /* overflow: hidden; */
}

*{
  padding: 0;
  margin: 0;
}

.back-to-top {
  position: fixed;
  display: none;
  right: 45px;
  bottom: 45px;
  z-index: 99;
}

/*** Spinner ***/
#spinner {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-out, visibility 0s linear 0.5s;
  z-index: 99999;
}

#spinner.show {
  transition: opacity 0.5s ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1;
}

/*** Button ***/
.btn {
  transition: 0.5s;
}

.btn.btn-primary,
.btn.btn-secondary {
  color: #ffffff;
}

.btn-square {
  width: 38px;
  height: 38px;
}

.btn-sm-square {
  width: 32px;
  height: 32px;
}

.btn-lg-square {
  width: 48px;
  height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
  border-radius: 50px;
}

/*** Navbar ***/
.nav-bar {
  position: relative;
  margin-top: 45px;
  padding: 0 3rem;
  transition: 0.5s;
  z-index: 9999;
}

.nav-bar.sticky-top {
  position: sticky;
  padding: 0;
  z-index: 9999;
}

.navbar {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.08);
}

.navbar .dropdown-toggle::after {
  border: none;
  content: "\f107";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  vertical-align: middle;
  margin-left: 5px;
  transition: 0.5s;
}

.navbar .dropdown-toggle[aria-expanded="true"]::after {
  transform: rotate(-180deg);
}

.navbar-light .navbar-nav .nav-link {
  margin-right: 30px;
  padding: 25px 0;
  color: #ffffff;
  font-size: 15px;
  text-transform: uppercase;
  outline: none;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
  color: var(--primary);
}

@media (max-width: 991.98px) {
  .nav-bar {
    margin: 0;
    padding: 0;
  }

  .navbar-light .navbar-nav .nav-link {
    margin-right: 0;
    padding: 10px 0;
  }

  .navbar-light .navbar-nav {
    border-top: 1px solid #eeeeee;
  }
}

.navbar-light .navbar-brand {
  height: 75px;
}

.navbar-light .navbar-nav .nav-link {
  color: var(--dark);
  font-weight: 500;
}

@media (min-width: 992px) {
  .navbar .nav-item .dropdown-menu {
    display: block;
    top: 100%;
    margin-top: 0;
    transform: rotateX(-75deg);
    transform-origin: 0% 0%;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
  }

  .navbar .nav-item:hover .dropdown-menu {
    transform: rotateX(0deg);
    visibility: visible;
    transition: 0.5s;
    opacity: 1;
  }
}

/*** Header ***/
@media (min-width: 992px) {
  .header {
    margin-top: -120px;
  }
}

.header-carousel .owl-nav {
  position: absolute;
  top: 50%;
  left: -25px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
}

.header-carousel .owl-nav .owl-prev,
.header-carousel .owl-nav .owl-next {
  margin: 7px 0;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  background: var(--primary);
  border-radius: 40px;
  font-size: 20px;
  transition: 0.5s;
}

.header-carousel .owl-nav .owl-prev:hover,
.header-carousel .owl-nav .owl-next:hover {
  background: var(--dark);
}

@media (max-width: 768px) {
  .header-carousel .owl-nav {
    left: 25px;
  }
}

.breadcrumb-item + .breadcrumb-item::before {
  color: #dddddd;
}

/*** Icon ***/
.icon {
  padding: 15px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: #ffffff !important;
  border-radius: 50px;
  border: 1px dashed var(--primary) !important;
}

/*** About ***/
.about-img img {
  position: relative;
  z-index: 2;
}

.about-img::before {
  position: absolute;
  content: "";
  top: 0;
  left: -50%;
  width: 100%;
  height: 100%;
  background: var(--primary);
  transform: skew(20deg);
  z-index: 1;
}

/*** Category ***/
.cat-item div {
  background: #ffffff;
  border: 1px dashed rgba(0, 0, 0, 1);
  transition: 0.5s;
}

.cat-item:hover div {
  background: var(--primary);
  border-color: transparent;
}

.cat-item div * {
  transition: 0.5s;
}

.cat-item:hover div * {
  color: #ffffff !important;
}

/*** Property List ***/
.nav-pills .nav-item .btn {
  color: var(--dark);
}

.nav-pills .nav-item .btn:hover,
.nav-pills .nav-item .btn.active {
  color: #ffffff;
}

.property-item {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.08);
}

.property-item img {
  transition: 0.5s;
}

.property-item:hover img {
  transform: scale(1.1);
}

.property-item .border-top {
  border-top: 1px dashed rgba(0, 0, 0, 1) !important;
}

.property-item .border-end {
  border-right: 1px dashed rgba(0, 0, 0, 1) !important;
}

/*** Team ***/
.team-item {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.08);
  transition: 0.5s;
}

.team-item .btn {
  color: var(--primary);
  background: #ffffff;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
}

.team-item .btn:hover {
  color: #ffffff;
  background: var(--primary);
}

.team-item:hover {
  border-color: var(--secondary) !important;
}

.team-item:hover .bg-primary {
  background: var(--secondary) !important;
}

.team-item:hover .bg-primary i {
  color: var(--secondary) !important;
}

/*** Testimonial ***/
.testimonial-carousel {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

@media (min-width: 576px) {
  .testimonial-carousel {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

.testimonial-carousel .testimonial-item .border {
  border: 1px dashed rgba(0, 0, 0, 1) !important;
}

.testimonial-carousel .owl-nav {
  position: absolute;
  width: 100%;
  height: 40px;
  top: calc(50% - 20px);
  left: 0;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}

.testimonial-carousel .owl-nav .owl-prev,
.testimonial-carousel .owl-nav .owl-next {
  position: relative;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  background: var(--primary);
  border-radius: 40px;
  font-size: 20px;
  transition: 0.5s;
}

.testimonial-carousel .owl-nav .owl-prev:hover,
.testimonial-carousel .owl-nav .owl-next:hover {
  background: var(--dark);
}

/*** Footer ***/
.footer .btn.btn-social {
  margin-right: 5px;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--light);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 35px;
  transition: 0.3s;
}

.footer .btn.btn-social:hover {
  color: var(--primary);
  border-color: var(--light);
}

.footer .btn.btn-link {
  display: block;
  margin-bottom: 5px;
  padding: 0;
  text-align: left;
  font-size: 15px;
  font-weight: normal;
  text-transform: capitalize;
  transition: 0.3s;
}

.footer .btn.btn-link::before {
  position: relative;
  content: "\f105";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 10px;
}

.footer .btn.btn-link:hover {
  letter-spacing: 1px;
  box-shadow: none;
}

.footer .form-control {
  border-color: rgba(255, 255, 255, 0.5);
}

.footer .copyright {
  padding: 25px 0;
  font-size: 15px;
  border-top: 1px solid rgba(256, 256, 256, 0.1);
}

.footer .copyright a {
  color: var(--light);
}

.footer .footer-menu a {
  margin-right: 15px;
  padding-right: 15px;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.footer .footer-menu a:last-child {
  margin-right: 0;
  padding-right: 0;
  border-right: none;
}
.buttonanimation {
  background: linear-gradient(to right, #ebebeb 50%, black 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all ease 0.3s;
}
.buttonanimation:hover {
  background-position: left bottom !important;
  color: #000000 !important;
  border: 1px solid black !important;
}
.custombtn:hover {
  background: #000000 !important;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background: #000000;
  /* background: red; */
  border-radius: 5px;
}
::selection {
  background: #000000;
  color: #fff;
}

.cursor-dot,
.cursor-outline {
  position: fixed;
  border-radius: 50%;
  pointer-events: none;
  z-index: 99999;
  transform: translate(-50%, -50%);
}
.cursor-dot {
  width: 10px;
  height: 10px;
  background-color: #000000;
}
.cursor-outline {
  width: 40px;
  height: 40px;
  border: 2px solid rgba(122, 119, 119, 0.5);
}
.typing-demo {
  width: 0; /* Start with zero width for typing effect */
  animation: typing 5s steps(40) infinite, blink 0.5s step-end infinite;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif !important;
}
/* Add this to your CSS file */
#navbar {
  transition: background-color 0.3s, backdrop-filter 0.3s !important;
}

.navbar-blur,
.bg-blur {
  background-color: rgba(
    192,
    192,
    192,
    0.2
  ) !important; /* Slightly transparent white background */

  backdrop-filter: blur(10px) !important; /* Adjust the blur effect */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1) !important; /* Optional shadow */
}

#navbar a {
  font-weight: bold;
}
/* canvas{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -9999;
} */
 /* #particles-js{
  width: 100%;
  height: 100vh;
  position: absolute;
 } */

 .parallax {
  /* The image used */
  background-image: url('../img/paralax.jpeg');

  /* Set a specific height */
  height: 40vh;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.parallax::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  /* Add a grey or black shade */
  background: rgba(0, 0, 0, 0.5); /* Adjust the opacity as needed */
}
.star-rating {
  display: flex;
  margin-top: -10px;
}

.star {
  font-size: 1.5rem;
  color: #ccc; /* Default star color */
}

.star.filled {
  color: #000000; /* Filled star color */
}



.banner{
  width: 100%;
  height: 100vh;
  text-align: center;
  overflow: hidden;
  position: relative;
}
.banner .slider{
  position: absolute;
  width: 200px;
  height: 250px;
  top: 10%;
  left: calc(50% - 100px);
  transform-style: preserve-3d;
  transform: perspective(1000px);
  animation: autoRun 20s linear infinite;
  z-index: 2;
}
@keyframes autoRun{
  from{
      transform: perspective(1000px) rotateX(-16deg) rotateY(0deg);
  }to{
      transform: perspective(1000px) rotateX(-16deg) rotateY(360deg);
  }
}

.banner .slider .item{
  position: absolute;
  inset: 0 0 0 0;
  transform: 
      rotateY(calc( (var(--position) - 1) * (360 / var(--quantity)) * 1deg))
      translateZ(450px);
}
.banner .slider .item img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.banner .content{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: min(1400px, 100vw);
  height: max-content;
  padding-bottom: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.banner .content .model{
  /* background-image: url(images/app-patch.jpg); */
  width: 100%;
  height: 75vh;
  position: absolute;
  bottom: 0;
  left: 0;
  background-size: auto 130%;
  background-repeat: no-repeat;
  background-position: top center;
  z-index: 1;
}
@media screen and (max-width: 1023px) {
  .banner .slider{
      width: 160px;
      height: 200px;
      left: calc(50% - 80px);
  }
  .banner .slider .item{
      transform: 
          rotateY(calc( (var(--position) - 1) * (360 / var(--quantity)) * 1deg))
          translateZ(300px);
  }
  
  .banner .content .author{
      color: #fff;
      padding: 20px;
      text-shadow: 0 10px 20px #000;
      z-index: 2;
      max-width: unset;
      width: 100%;
      text-align: center;
      padding: 0 30px;
  }
}
@media screen and (max-width: 767px) {
  .banner .slider{
      width: 100px;
      height: 150px;
      left: calc(50% - 50px);
  }
  .banner .slider .item{
      transform: 
          rotateY(calc( (var(--position) - 1) * (360 / var(--quantity)) * 1deg))
          translateZ(180px);
  }
  
}

#mockup_body {
  min-height: 100vh;
  margin: 0;
  font-family: Poppins;
  color: #1e1e1e;
 
  /* background-color: #cdcdcd; */
   background-image: repeating-linear-gradient(
      to right,
      transparent 0 150px,
      #0001 150px 151px
    ),
    repeating-linear-gradient(to bottom, transparent 0 150px, #0001 150px 151px),
    linear-gradient(to right, #cdcdcdcc, #cdcdcdcc), url('img/images/bgmock_.jpg');
}

/* .cutomdiv{
  background-color: #cdcdcd;
   background-image: repeating-linear-gradient(
      to right,
      transparent 0 150px,
      #0001 150px 151px
    ),
    repeating-linear-gradient(to bottom, transparent 0 150px, #0001 150px 151px),
    linear-gradient(to right, #cdcdcdcc, #cdcdcdcc), url('img/images/bgmock_.jpg');
} */

#main_01 {
  width: min(1200px, 90vw);
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  height: 0px;
  flex-wrap: wrap;
}
#main_01 h1 {
  font-family: "Karantina", system-ui;
  font-size: 10vw;
  line-height: 0.8em;
}
#main_01 .author {
  text-align: right;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#main_01 h3 {
  font-family: "Karantina", system-ui;
  font-size: 5vw;
}
#main_01 .author div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#main_01 .author div p:nth-child(2) {
  font-weight: 500;
}

#main_01 .author img {
  width: 250px;
}
.mock_banner {
  margin-top: -50px;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
.product {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 170px;
  z-index: 2;
  width: 500px;
  transition: 0.7s;
  /* position: absolute */
}
.product .soda {
  position: absolute;
  bottom: 0;
  left: calc(50%);
  transform: translateX(-50%);
  /* position: absolute */
}
.mock_banner .product .soda {
  
  --left: 0px;
  background: var(--url) var(--left), url('../img/images/mockup.png') 0 0;
  background-size: auto 100%;
  width: 280px;
  aspect-ratio: 2 / 4;
  background-blend-mode: multiply;
  transition: 0.8s;
  mask-image: url('../img/images/mockup.png');
  mask-size: auto 100%;
  /* position: absolute; */
}
.soda:nth-child(2) {
  opacity: 0;
}
.product:hover {
  bottom: 300px;
}
.product:hover .soda:nth-child(2) {
  opacity: 1;
  --left: 500px;
}
.product:hover .soda:nth-child(1) {
  opacity: 0;
  --left: 500px;
}

.rock {
  position: absolute;
  inset: 0 0 0 0;
  width: 100%;
  pointer-events: none;
}
.rock img:nth-child(1) {
  position: absolute;
  height: 170px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
  transition: 0.7s;
  z-index: 1;
}
.rock img:nth-child(2) {
  position: absolute;
  height: 50%;
  left: 0;
  bottom: 0;
  transition: 0.7s;
}
.rock img:nth-child(3) {
  position: absolute;
  height: 100%;
  right: 0;
  bottom: -100px;
  rotate: -25deg;
  transition: 0.7s;
}
.mock_banner:has(.product:hover) .rock img:nth-child(1) {
  transform: translateX(-50%) translateY(50px);
}
.mock_banner:has(.product:hover) .rock img:nth-child(2) {
  transform: translateX(-100px) translateY(100px);
}
.mock_banner:has(.product:hover) .rock img:nth-child(3) {
  transform: translateX(100px) translateY(100px);
}
@media screen and (max-width: 1023px) {
  .soda {
    width: 400px;
  }
}
@media screen and (max-width: 767px) {
  .soda {
    width: 250px;
  }
  #mock_banner img {
    display: none;
  }
  #mock_banner .author {
    width: 100%;
  }
}
